- name: Configure Nexus and Upload Docker Images
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    nexus_url: http://localhost:8081
    nexus_user: admin
    nexus_password: admin123 # This is the new password set via REST API
    ansible_become_pass: ubuntu

  tasks:
    - name: Ensure Docker insecure registry is configured (requires Docker daemon restart)
      ansible.builtin.lineinfile:
        path: /etc/docker/daemon.json
        regexp: '^{\s*"insecure-registries"\s*:\s*\[.*\]'
        line: '{ "insecure-registries" : ["localhost:8082"] }'
        create: yes
        mode: '0644'
      become: yes
      notify: Restart docker
      tags: [ 'configure_docker_daemon' ]

    - name: Enable Docker Bearer Token Realm
      cloudkrafter.nexus.nexus_realm:
        nexus_connect:
          url: "{{ nexus_url }}"
          user: "{{ nexus_user }}"
          password: "{{ nexus_password }}"
        name: DockerToken
        state: present
      tags: [ 'configure_nexus' ]

    - name: Create docker-hosted repository
      cloudkrafter.nexus.nexus_repository:
        nexus_connect:
          url: "{{ nexus_url }}"
          user: "{{ nexus_user }}"
          password: "{{ nexus_password }}"
        name: docker-hosted
        type: hosted
        format: docker
        online: yes
        port: 8082
        strict_content_validation: yes
        v1_enabled: no
        force_basic_auth: yes
        write_policy: ALLOW 
        state: present
      tags: [ 'configure_nexus' ]

    - name: Pull alpine:latest image
      community.docker.docker_image:
        name: alpine:latest
        pull: yes
      tags: [ 'upload_images' ]

    - name: Tag alpine:latest for Nexus
      community.docker.docker_image:
        name: localhost:8082/alpine:latest
        tag: latest
        source: pull
        repository: alpine:latest
      tags: [ 'upload_images' ]

    - name: Push alpine:latest to Nexus
      community.docker.docker_image:
        name: localhost:8082/alpine:latest
        push: yes
        source: pull
        repository: alpine:latest
      tags: [ 'upload_images' ]

    - name: Pull busybox:latest image
      community.docker.docker_image:
        name: busybox:latest
        pull: yes
      tags: [ 'upload_images' ]

    - name: Tag busybox:latest for Nexus
      community.docker.docker_image:
        name: localhost:8082/busybox:latest
        tag: latest
        source: pull
        repository: busybox:latest
      tags: [ 'upload_images' ]

    - name: Push busybox:latest to Nexus
      community.docker.docker_image:
        name: localhost:8082/busybox:latest
        push: yes
        source: pull
        repository: busybox:latest
      tags: [ 'upload_images' ]
  
  handlers:
    - name: Restart docker
      ansible.builtin.systemd:
        name: docker
        state: restarted
      become: yes